*{
    margin: 0;
    padding: 1px;
}

body{
    background-color: rgb(11 8 18);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* display: flex; */
}

p{
    /* display: flex;
    flex-wrap: wrap-reverse;
     */
     justify-content: center;
     align-items: center;
    margin: 10px;
    font-family:Arial, Helvetica, sans-serif;
    overflow:visible;
    font-size: 13px;
    /* text-align:center; */
    line-height: 20px;
}
.repo-card{
    margin-top:10%;
    padding-left: 30%;
    width: 400px;
    height: 100px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 100px !important;
}

.navbar, .logo h1{
    color: white;
    cursor: pointer;
}

.navbar, .menu{
    display: flex;
    column-gap: 30px;
}

.navbar, .menu a{
    color: white;
    text-decoration: none !important;
    padding: 10px;  
}

.navbar, .menu .home{
    color: cyan;
}

.menu a:hover{
    border: 1px solid cyan;
}

.hero-box{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-top: 80px;
}

.hero-box .txt-left{
    color: white;
    width: 393px;
    height: 337px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.txt-left{
    padding-top: 50px;
}
.txt-left h1{
    
    padding-top: 10px;
}

.txt-left .developer-txt{
    padding-top: 1px;
}

#insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
#insta:hover{
    -webkit-text-fill-color: cyan;
}

.txt-left .social-media:hover {
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;
    /* transition-duration: 2s; */
    
}
#fb:hover{
    /* transform: matrix3d(20deg); */
    transition: transform 0.6s ease-in-out;
    /* transform:rotate(20deg); */
    /* transform: scale(1.5); */
}

.txt-left .social-media{
    padding-top: 13px;
}

.txt-left .social-media{
    display: flex;
    column-gap: 20px;
    transition: all ease 0.5s;
}

.txt-left .social-media i{
    font-size: 37px;
    cursor: pointer;
    transition: all ease 0.5s;

}

.txt-left .social-media i:hover{
    color: cyan;
    transition: transform 0.5s ease-in-out;
    transform: scaleY(1.2);
    
}

.txt-left button{
    font-size: 15px;
    padding: 15px;
    width: 150px;
    border-radius: 20px;
    border: none;
    margin-top: 17px;
    background-color: cyan;
    box-shadow: rgba(0, 255, 242, 0.25) 0px 54px 55px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 200, 0.12) 0px 4px 6px, rgba(8, 231, 213, 0.17) 0px 12px 13px, rgba(2, 247, 185, 0.09) 0px -3px 5px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.txt-left button:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 255, 242, 0.25) 0px 54px 55px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 200, 0.12) 0px 4px 6px, rgba(8, 231, 213, 0.17) 0px 12px 13px, rgba(2, 247, 185, 0.09) 0px -3px 5px;
    cursor: pointer;
    
    
}

.hero-box .img-right{
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-box .img-right img{
    border-radius: 50%;
    width: 500px;
    height: 450px;
    cursor: pointer;
    transition: all ease 0.5s;
    box-shadow: rgba(0, 269, 219, 0.25) 0px -21px 139px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 200, 0.12) 0px 4px 6px, rgba(8, 231, 213, 0.17) 0px 31px 15px, rgba(2, 247, 185, -0.91) 0px -3px 18px;
}

 .hero-box .img-right img:hover{
    cursor: pointer;
    box-shadow: rgba(0, 102, 255, 0.12) 0px -21px 139px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 102, 255, 0.12) 0px 4px 6px, rgba(8, 231, 213, 0.17) 0px 31px 15px, rgba(2, 247, 185, -0.91) 0px -3px 18px;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/* linkdln */


.batch-linkedin{
    margin-top: 5%;
    margin-left: 18%;
    align-items: center;
    font-size: 20px;
}

.batch-linkedin:hover{
    cursor: pointer;
    transition: transform 0.5s ease-in-out;

}
